@page "/"
@using MallFormulär.DTO
<MallFormulär TData="MallFormulär.DTO.DataA" Context="data" FormulärSparat="SparatA">
    <div class="row">
        <div class="col">
            Ange tal A:
        </div>
        <div class="col">
            <InputNumber @bind-Value="data.TalA" />
            <ValidationMessage For="()=>data.TalA" />
        </div>
    </div>
</MallFormulär>
<hr />
<MallFormulär TData="MallFormulär.DTO.DataB" Context="data" FormulärSparat="SparatB">
    <div class="row">
        <div class="col">
            Ange text B:
        </div>
        <div class="col">
            <InputText @bind-Value="data.TextB" />
            <ValidationMessage For="()=>data.TextB" />
        </div>
    </div>
</MallFormulär>
<hr />
<MallTabell Data="Data" TData="DataA">
    <ExtraRubriker>
        <td>TalA</td>
    </ExtraRubriker>
    <ExtraKolumner Context="data">
        <td>@data.TalA</td>
    </ExtraKolumner>
</MallTabell>
@code{
    private void SparatA(DataA sparat)
    {
        //Gör något med A
        Console.WriteLine($"A sparat, TalA={sparat.TalA}");
    }
    private void SparatB(DataB sparat)
    {
        //Gör något med B
        Console.WriteLine($"B sparat, TextB={sparat.TextB}");
    }
    private List<DataA> Data = new List<DataA> { new DataA { BasTal = 1, BasText = "A", TalA = 10 }, new DataA { BasTal = 2, BasText = "B", TalA = 20 } };
}